
/* ------------------------------------ Prelim Values ------------------------------------------------- */


button {
    all: unset;
}

select {
    all: unset;
}

p {
    all:unset;
}

html, body {
    height: 98%;
}


body{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #121212;

    color: #ffffff;
    font-family: Verdana, Geneva, sans-serif;
    font-weight:600;
    font-size: 25px;
}



/* ------------------------------------ Interior Grey Box and it's switchable content inner divs ------------------------------------------------- */


.overlay{
    width: min(100vw, 800px);
    height: min(100vh, 700px);
    
    background-color: #3f3f3f;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}


.contentBox{
    height: 100%;
    width: 100%;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
}


.startScreen{

}


.startScreen.active {
    display: flex;
}


.runningScreen{
    
}


.runningScreen.active{
    display:flex;
}


/* ------------------------------------ Start/Stop Buttons ------------------------------------------------- */


.activateButton {
    width: 200px;
    height: 30px;
    background-color: #a7f315;
    color: black;
    border: solid 1px black;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    filter: drop-shadow(2px 2px 3px black)
}


.activateButton:hover{
    background-color: #90fa39;
    filter: drop-shadow(2px 2px 6px black)

}


/* ------------------------------------ "Running..." text or the Buttons for the choices ------------------------------------------------- */

.runningDivs{
    display: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
    flex-wrap: wrap;
}


.buttonsDiv{

}


.buttonsDiv.active{
    display: flex;

}


.runningText{

}


.runningText.active{
    display: flex;
}



/* This keeps the start and stop buttons positioned at the same spot */
.difficultyDiv{
    display:flex;
    flex-direction:row;

}


.difficultyOption{

}


/* ------------------------------------ Answer Buttons ------------------------------------------------- */


.button{
    background-color: #575757;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 16px;
    padding: 15px 30px;
    filter: drop-shadow(2px 2px 3px black)
}


.button:hover{
    filter: drop-shadow(2px 2px 6px black)
}


.button.selected{
    background-color: white;
    color: black;
}

.button.correct{
    background-color: #a7f315;
    color: black;
}

.button.wrong{
    background-color: #9c2121;
    color: black;
}



/* ------------------------------------ The !? Debug Button ------------------------------------------------- */


.debug{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background: #a7f315;
    color: black;
    border-radius: 10px;
    font-size: 20px;
}

.debug:hover{
    background-color: #90fa39;
    filter: drop-shadow(0px 0px 6px #90fa39);
}


/* ------------------------------------ Score and Volume Part of the Overlay ------------------------------------------------- */

.alwaysVisible{
    display:flex;
    width: 100%;

    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}


.score{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:baseline;
}
